.posts-wrapper.row
  .post
    .post-head
      .name
        = @post.user.username
    .image.center-block
      = image_tag @post.image
    %p.caption
      = @post.caption
    .text-center.edit-link
      = link_to "Home", posts_path
      |
      - if current_user.id == @post.user_id
        = link_to "Edit", edit_post_path(@post)
